$white-0: #feff;
$white-1: #eeefea;

$grey-1: #c2c0ba; //SW 7649 Silverplate
$grey-2: #7f817e; //SW 7067 Cityscape

$turq-0: #def2f1;
$turq-1: #87ded6; //SW 6937 Tantalizing Teal
$turq-2: #76c5c6; //SW 6766 Mariner
$turq-3: #3aafa9;

$turq-blue-1: #01b0bb; //SW 6950 Tiffany Blue
$turq-blue-2: #019f9f; //SW 6940 Biscay
$turq-blue-3: #014e4c; //SW 0064 Blue Peacock

$turq-dark-0: #003e3f;
$turq-dark-1: #00292a;
$turq-dark-2: #001515;

//Single Page:
$section-1: $grey-1;
$section-2: $white-0;
